html {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: darkgray;
    height: 100%;
}

  #map {
    height: 85%;
}
  
::-webkit-scrollbar {
    display: none;
}   